.products{

    &__container{
        gap: 1rem;
    }

    &__data{
        text-align: center;
    }

    &__title{
        margin-bottom: var(--mb-0-75);
    }

    &__subtitle{
        font-size: var(--normal-font-size);
        color: var(--first-color-light);
        font-weight: none;
    }
}