@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600;700&display=swap");
:root {
  --header-height: 3rem;
  /*===== Colors =======*/
  --hue: 18;
  --sat: 98%;
  --first-color: hsl(var(--hue), (--sat), 50%);
  --first-color-light: hsl(var(--hue), (--sat), 85%);
  --first-color-lighten: hsl(var(--hue), (--sat), 80%);
  --first-color-alt: hsl(var(--hue), (--sat), 43%);
  --title-color: hsl(4, 98%, 10%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue), 4%, 85%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 75%);
  /*===== Font and typography =======*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*===== Responsive typography =======*/
  /*===== Font weight =======*/
  --font-semi-bold: 600;
  --font-bold: 700;
  /*===== Margenes =======*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: .75rem;
  --mb-2: 2rem;
  /*===== Z index =======*/
  --tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 20%;
  height: auto;
}

/*===== LAYOUT =======*/
.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    width: 90%;
    top: -100%;
    right: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    border-radius: 2rem;
    padding: 2.5rem 0;
    z-index: var(--z-fixed);
    transition: 0.4s;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
.nav__logo, .nav__title, .nav__link, .nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
.nav__toggle {
  font-size: 1.3rem;
}
.nav__logo {
  font-size: 1.5rem;
}
.nav__logo, .nav__toggle, .nav__title {
  cursor: pointer;
}
.nav__title:hover {
  color: #fc4e03;
}

/*===== SHOW MENU =======*/
.show-menu {
  top: calc(var(--header-height) + 1rem);
}

.button__header {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
